@(contacts: List[Contact])
@main("Phone Book") {
	
	<h2>Contacts</h2>
        
        <script>
            function del(urlToDelete) {
                $.ajax({
                    url: urlToDelete,
                    method: 'DELETE',
                    success: function(results) {
                        //Refresh the page
                        location.reload();
                    }
                });
            }
        </script>

	
			@for(contact <- contacts) {
            <div class="row">
                <div class="col-sm-4">
				    <a href="@routes.Contacts.details(contact.id)">
					    @contact.name
				    </a>
                </div>
                <div class="col-sm-4">
				    
					    @contact.phone
				    </a>
                </div>
                            <div class="col-sm-4">
                                    <a href="@routes.Contacts.details(contact.id)">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a onclick="del('@routes.Contacts.delete(contact.id)')">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                            </div>
                                
			</div>
			}
			
		</tbody>
	</table>
        <br><br>
        <a href="@routes.Contacts.newContact()">
            <i class="glyphicon glyphicon-plus"></i> Add Contact
        </a>
	
}